.create-store {
  padding: 25px 0;
  .btn {
    transition: none;
    &:focus {
      box-shadow: 0 0 0 2px $primary;
    }
  }
}
.store-list {
  padding-top: 15px;
}
.select-store {
  position: relative;
  .fa {
    position: absolute;
    top: 12px;
    right: 9px;
  }
}
.load-store {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .load-store_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  input {
    position: relative;
    z-index: 10;
    background-color: #fff;
    opacity: 0;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  &:hover {
    a {
      text-decoration: underline;
    }
  }
}
